@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
input[type="date"]{
  height: auto;
  background-color: #7C1882;
  padding: 15px;
  color: #ffffff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
  background-color: ;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}
